/* Imports */
/* Colors */
/* Imports */
header {
  padding: 5px 0 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffdce2;
}

header .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-left: 25px;
  font-size: 50px;
}

header i {
  font-size: 50px;
  color: #c9707f;
}

/* Imports */
/* Colors */
/* Imports */
#itemList h2 {
  margin: 50px 0 0 50px;
}

#itemList #itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 50px 0 50px;
}

#itemList #itemContainer .item {
  padding: 5px;
  background: #ffdce2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

#itemList #itemContainer .item:hover {
  background: #ffc3cd;
}

#itemList #itemContainer .item .itemPhotoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-left: 12px;
}

#itemList #itemContainer .item .itemPhotoTitle > img {
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px -1px #737373;
          box-shadow: 0px 0px 5px -1px #737373;
}

#itemList #itemContainer .item .itemProductTitle {
  font-size: 25px;
  color: black;
}

#itemList #itemContainer .item .itemPrice {
  font-size: 25px;
  color: #c9707f;
  margin-right: 30px;
  margin-left: 25px;
}

@media (min-width: 650.1px) {
  #itemContainer {
    height: 620px;
  }
  #itemContainer .item {
    height: 100px;
  }
  #itemContainer .itemProductTitle {
    margin-left: 30px;
  }
  #itemContainer .itemPhotoTitle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #itemContainer .itemPhotoTitle > img {
    height: 100%;
    min-width: 130px;
  }
}

@media (max-width: 650px) {
  #itemContainer {
    height: 1250px;
  }
  #itemContainer .item {
    height: 200px;
  }
  #itemContainer .itemPhotoTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #itemContainer .itemPhotoTitle > img {
    height: 100%;
    max-width: 130px;
  }
}

/* Colors */
* {
  font-family: "Balsamiq Sans";
}

h1 {
  font-family: "Pacifico";
}

body {
  margin: auto;
}

a {
  text-decoration: none;
}

/* Imports */
/* Colors */
/* Imports */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  background: #ffdce2;
  padding: 30px 0 30px 50px;
}

footer .itemFooter {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  margin-bottom: 5px;
}

footer p {
  margin-left: 15px;
}

footer i {
  color: #c9707f;
}

@media (min-width: 500.1px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Imports */
/* Colors */
/* Imports */
.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.sectionContainer .productPhoto {
  min-height: 400px;
  max-height: 400px;
  min-width: 600px;
  max-width: 600px;
  -webkit-box-shadow: 0px 0px 5px -1px #737373;
          box-shadow: 0px 0px 5px -1px #737373;
  border-radius: 15px;
}

.sectionContainer .productInfo {
  margin-left: 50px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionContainer .productInfo .id {
  font-size: 12px;
  margin-top: -20px;
  color: #bfbfbf;
}

.sectionContainer .productInfo .productPrice {
  font-size: 30px;
  margin-top: 10px;
  color: #c9707f;
}

.sectionContainer .productInfo .productDescription {
  font-size: 15px;
  margin: -10px 50px 20px 0;
  color: black;
}

.sectionContainer .productInfo .inputProductColors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 25px 0;
  font-size: 20px;
}

.sectionContainer .productInfo .inputProductColors label {
  margin-bottom: 10px;
}

.sectionContainer .productInfo .inputProductColors select {
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #c9707f;
  font-size: 15px;
}

.sectionContainer .productInfo .inputProductColors {
  margin-top: 10px;
}

.sectionContainer .productInfo h2 {
  font-size: 30px;
}

.sectionContainer .productInfo button {
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  border: solid 3px #c9707f;
  border-radius: 5px;
  background: #ffdce2;
  color: black;
  color: #c9707f;
}

.sectionContainer .productInfo button i {
  margin-right: 15px;
}

.sectionContainer .productInfo .inputProductColors, .sectionContainer .productInfo button {
  min-width: 300px;
  max-width: 300px;
}

/* Imports */
/* Colors */
/* Imports */
#basketContenu {
  margin: 50px 50px 75px 50px;
}

#basketContenu #basketTotalPrice {
  margin-top: 25px;
  font-size: 25px;
}

#basketContenu #basketShipping {
  margin-top: 25px;
}

#basketContenu .priceColor {
  color: #c9707f;
}

#basketForm {
  margin: 0 0 100px 50px;
}

#basketForm .required {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

#basketForm #basketAdressNumber, #basketForm #basketPostalCode {
  width: 100px;
}

#basketForm form > input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #c9707f;
}

#basketForm .inputTitleBasket {
  margin-bottom: 10px;
}

#basketForm button {
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  border: solid 3px #c9707f;
  border-radius: 5px;
  background: #ffdce2;
  color: black;
  margin-top: 30px;
  color: #c9707f;
}

/* Imports */
/* Colors */
/* Imports */
#confirmation {
  margin-top: 50px;
  height: 350px;
}

#confirmation #confirmationInformations {
  margin: 50px;
}

#confirmation #confirmationInformations .shippingAdressConfirmation {
  margin-bottom: 5px;
  color: #c9707f;
}

#confirmation #confirmationInformations .confirmationNameSurname, #confirmation #confirmationInformations .confirmationAdress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -25px;
}

#confirmation #confirmationInformations .confirmationName, #confirmation #confirmationInformations .confirmationAdressNumber {
  margin-right: 7px;
}

#confirmation > p, #confirmation > h2 {
  margin-left: 50px;
}

#confirmation > p {
  font-size: 20px;
  font-style: italic;
}

#confirmation .totalPriceConfirmation {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}

#confirmation .totalPriceConfirmation > p {
  margin-right: 20px;
}

#confirmation .totalPriceConfirmation .totalPriceNumber {
  color: #c9707f;
}

/* Imports */
/* Colors */
/* Imports */
.basketProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 3px black;
  border-radius: 10px;
  height: 110px;
  margin-bottom: 15px;
}

.basketProduct .basketProductLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basketProduct .basketProductLeft .basketProductPhoto {
  border-radius: 10px 0 0 10px;
  height: 100%;
  min-width: 150px;
  max-width: 150px;
}

.basketProduct .basketProductLeft .basketProductInfo {
  margin-top: 3px;
  margin-left: 25px;
}

.basketProduct .basketProductLeft .productId {
  margin-top: -10px;
  font-size: 12px;
  color: grey;
}

.basketProduct .productPrice {
  margin: 42px 25px 0 30px;
  color: #c9707f;
  font-size: 20px;
}

.headerBasket {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  border-radius: 10px;
  background: #c9707f;
  color: white;
  padding: 20px 30px;
  margin-right: 50px;
}

.headerHome {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  border-radius: 10px;
  background: #c9707f;
  color: white;
  padding: 20px 30px;
  margin-right: 25px;
}
/*# sourceMappingURL=main.css.map */