/* Imports */
@import "../utils/variables";
/* Imports */

header {
    padding: 5px 0 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $firstColor;
    .headerLogo {
        display: flex;
        align-items: center;
    }
    h1 {
        margin-left: 25px;
        font-size: 50px;
    }
    i {
        font-size: 50px;
        color: $colorIcon;
    }
}