/* Imports */
@import "../utils/variables";
/* Imports */

#sectionContainer {
    display: flex;
    margin: 50px;
    .teddyImage {
    min-height: 400px;
    max-height: 400px;
    min-width: 600px;
    max-width: 600px;
    box-shadow: 0px 0px 5px -1px #737373;
    border-radius: 15px;
    }
    .productInfo {
        margin-left: 50px;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        .teddyId {
            font-size: 12px;
            margin-top: -20px;
            color: #bfbfbf;
        }
        .teddyPrice {
            font-size: 30px;
            margin-top: 10px;
            color: $colorIcon;
        }
        .teddyDescription {
            font-size: 15px;
            margin: -10px 50px 20px 0;
            color: black;
        }
        .teddyColors {
            display: flex;
            flex-direction: column;
            margin: 10px 0 25px 0;
            font-size: 20px;
            label {
            margin-bottom: 10px;
            }
            select {
                padding: 10px;
                border-radius: 5px;
                border: solid 3px $colorIcon;
                font-size: 15px;
            }
        }
        h2 {
            font-size: 30px;
        }
        .addBasket {
            cursor: pointer;
            font-size: 15px;
            padding: 15px;
            border: solid 3px $colorIcon;
            border-radius: 5px;
            background: $firstColor;
            color: black;
            color: $colorIcon;
            i {
                margin-right: 15px;
            }
        }
        .teddyColors, button {
            min-width: 300px;
            max-width: 300px;
        }
    }
}
