.headerBasket {
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    background: $colorIcon;
    color: white;
    padding: 20px 30px;
    margin-right: 50px;
}