/* Imports */
@import "../utils/variables";
/* Imports */

.basketProduct {
    display: flex;
    justify-content: space-between;
    border: solid 3px black;
    border-radius: 10px;
    height: 100px;
    .basketProductLeft {
        display: flex;
        .basketProductPhoto {
            border-radius: 10px 0 0 10px;
        }
    }
    .basketProductRight {
        margin-top: 8px;
        margin-right: 25px;
        .basketProductPrice {
            color: $colorIcon;
            font-size: 15px;
        }
    }
    img {
        height: 100%;
        min-width: 130px;
        max-width: 130px;
    }
    .basketProductInfo {
        margin-top: 8px;
        margin-left: 25px;
    }
}