/* Imports */
@import "../utils/variables";
/* Imports */

#confirmation {
    margin-top: 50px;
    height: 350px;
    #confirmationInformations {
        margin: 50px;
        .titleConfirmation {
            margin-bottom: 5px;
            color: $colorIcon;
        }
        .confirmationNameSurname {
            display: flex;
            margin-bottom: -25px;
        }
        .confirmationName {
            margin-right: 7px;
        }
    }
    > p, > h2 {
        margin-left: 50px;
    }
    > p {
        font-size: 20px;
    }
    .totalPriceConfirmation {
        margin-left: 50px;
        font-size: 25px;
        > p {
            margin-right: 20px;
        }
        #priceConfirmation, #idConfirmation {
            color: $colorIcon;
        }
    }
}