/* Imports */
@import "../utils/variables";
/* Imports */

#teddiesList {
    h2 {
        margin: 50px 0 0 50px;
    }
    #teddiesContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 30px 50px 50px 50px;
        .teddyProduct {
            margin: 10px 0;
            padding: 15px 5px;
            background: $firstColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            transition: background 300ms;
            &:hover {
                background: darken($firstColor, 5%);
            }
            .imageAndName {
                display: flex;
                height: 80px;
                margin-left: 12px;
                > img {
                    border-radius: 8px;
                    box-shadow: 0px 0px 5px -1px #737373;
                }
                .teddyName {
                    margin-left: 25px;
                    font-size: 25px;
                    color: black;
                }
            }
            .teddyPrice {
                font-size: 25px;
                color: $colorIcon;
                margin-right: 30px;
                margin-left: 25px;
            }
        }
    }
}

